*.log
*.pyc
*.txt
!requirements.txt
*.pickle
*.in
*.bck

**/output

!data/
data/*
!data/supercluster_sources/
!data/views/
!data/sample1.in
!data/sample2.in
!data/supercluster_HL.in
!data/supercluster_IL.in

src/my_lib/DSSR/